In [1]:
# Import the Pandas library and other necessary modules
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import re

ModuleNotFoundError: No module named 'seaborn'

In [6]:
#import cvs fil som er hentet fra OsloMet Canvas siden
url = 'https://raw.githubusercontent.com/atikagondal/Lab-2023-DAVE3625/main/Lab%202/data/Titanic.csv'
df = pd.read_csv(url, sep=',')

df.head(1)

NameError: name 'pd' is not defined

In [5]:
#Check for null and nan values
df.isna().sum()

PassengerId       0
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [1]:
#Fill Age, Fare and Embarked with sensible values.
##Fill missing values - for this lab, lets just use teh median() function
df["Age"] = df["Age"].fillna(df["Age"].median())
df["Fare"] = df["Fare"].fillna(df["Fare"].median())

NameError: name 'df' is not defined

In [3]:
#Add a new column for HasCabin
# ~ invert the bool value, so that no cabin = False
df['HasCabin'] = ~df.Cabin.isnull()
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,False
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,True
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,True
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,False

In [7]:
#Lets extract the title for each person on the boat, and make a new column called «Title»
# As we can see from the data set, the syntax for names is LastName, Title. RestOfName

#Extract a certain string using regex
lambda x: re.search(' ([A-Z][a-z]+)\.', x).group(1)


#And in our case we would like to put this data in a new column, so we can run
df["Title"] = df.Name.apply(lambda x: re.search(' ([A-Z][a-z]+)\.', x).group(1)) 

df.head()

NameError: name 'df' is not defined