In [1]:
#Import modules
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from scipy import stats
import matplotlib as plt

In [4]:
#import cvs fil som er hentet fra OsloMet Canvas siden
df = pd.read_csv('https://raw.githubusercontent.com/atikagondal/Lab-2023-DAVE3625/main/Lab%202/data/Titanic.csv')
df.info()
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Pclass       1309 non-null   int64
 2   Name         1309 non-null   object
 3   Sex          1309 non-null   object
 4   Age          1046 non-null   float64
 5   SibSp        1309 non-null   int64
 6   Parch        1309 non-null   int64
 7   Ticket       1309 non-null   object
 8   Fare         1308 non-null   float64
 9   Cabin        295 non-null    object
 10  Embarked     1307 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 112.6+ KB
      PassengerId  Pclass                                               Name  \
0               1       3                            Braund, Mr. Owen Harris
1               2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2               3       3                             Heikkinen, Miss. Laina
3               4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4               5       3                           Allen, Mr. William Henry
...           ...     ...                                                ...
1304         1305       3                                 Spector, Mr. Woolf
1305         1306       1                       Oliva y Ocana, Dona. Fermina
1306         1307       3                       Saether, Mr. Simon Sivertsen
1307         1308       3                                Ware, Mr. Frederick
1308         1309       3                           Peter, Master. Michael J

         Sex   Age  SibSp  Parch              Ticket      Fare Cabin Embarked
0       male  22.0      1      0           A/5 21171    7.2500   NaN        S
1     female  38.0      1      0            PC 17599   71.2833   C85        C
2     female  26.0      0      0    STON/O2. 3101282    7.9250   NaN        S
3     female  35.0      1      0              113803   53.1000  C123        S
4       male  35.0      0      0              373450    8.0500   NaN        S
...      ...   ...    ...    ...                 ...       ...   ...      ...
1304    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
1305  female  39.0      0      0            PC 17758  108.9000  C105        C
1306    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
1307    male   NaN      0      0              359309    8.0500   NaN        S
1308    male   NaN      1      1                2668   22.3583   NaN        C

[1309 rows x 11 columns]

In [5]:
#Check for null and nan values
df.isna().sum()

PassengerId       0
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [1]:
#Fill Age, Fare and Embarked with sensible values.
##Fill missing values - for this lab, lets just use teh median() function
df["Age"] = df["Age"].fillna(df["Age"].median())
df["Fare"] = df["Fare"].fillna(df["Fare"].median())

NameError: name 'df' is not defined